@media screen and (orientation: portrait) {
  header p {
    padding:        0% 0% 0% 7%;
  }
}
@media screen and (orientation: landscape) {
  header p {
    padding:        0% 55% 0% 7%;
  }
}

@font-face {
  font-family: "Abril Fatface";
  src: url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
}

body {
  background:       black;
  color:            white;
  font:             medium/1.7em sans-serif;
  margin:           0;
}

h1 {
  font:             bold 5em/.78em sans-serif;
  padding:          7% 7% 0% 7%;
}

header {
  background:       url(img/magicBomj1.png) no-repeat;
  background-position: 80% 50%;
}

header p {
  font:             100 1.8em/1.2em sans-serif;
}

/*Тибличное представление кнопок
  signup и more */
#tableContainer {
  display:          table;
  border-spacing:   0px;
  padding-bottom:   7%;
  padding-left:     7%;
}
#tableRow {
  display:          table-row;
}
header div {
  display:          table-cell;
}

/*Стили ссылок кнопок signup и more*/
#startNav a:link {
  border:           thin solid white;
  border-radius:    10px;
  padding:          10px;
  text-decoration:  none;
  color:            white;
}
#startNav a:visited {
  color:            white;
}
/*Отдельный стиль для кнопки signup*/
#signup a:link, #signup a:visited {
  background-color: #BE0E0E;
  border-color:     #BE0E0E;
  color:            white;
  font-weight:      bold;
}
/*Стиль при наведении мыши
  на кнопку signup и more*/
#signup a:hover {
  background:       rgba(0, 0, 0, 0);
  color:            white;
}
#more a:hover {
  background:       black;
  border-color:     black;
  color:            white;
}

footer {
  color:            black;
  text-align:       center;
  font:             bold .5em/1.7em sans-serif;
  background:       white;
  padding:          .15% 15%;
}